
//rows for custom pages
	.polyrhythm {
        h3 {
            margin-bottom: 0.25em;
        }
        display: flex;
        flex-wrap: wrap;
		justify-content: center;
        > div {
            @include breakpoint(medium) {
                margin-bottom: 1em;
                margin-right: -1em;
            }
        }
		> :nth-child(4n - 2) {
			.box {
				&.selected {
					background-color: #00afaf;
				}
			}
		}
		> :nth-child(4n - 1) {
			.box {
				&.selected {
					background-color: #d626a1;
				}
			}
		}
		> :nth-child(4n) {
			.box {
				&.selected {
					background-color: #36ad54;
				}
			}
		}
		> :nth-child(4n - 3) {
			.box {
				&.selected {
					background-color: #a257e7;
				}
			}
		}
	}

	.dimensional-rift {
        h3 {
            margin-bottom: 0.25em;
        }
        display: flex;
        flex-wrap: wrap;
		justify-content: center;
        > div {
            @include breakpoint(medium) {
                margin-bottom: 1em;
                margin-right: -1em;
            }
        }

		> :nth-child(2n) {
			.box {
				&.selected {
					background-color: #be7412;
				}
			}
		}
		> :nth-child(2n - 1) {
			.box {
				&.selected {
					background-color: #c5c20d;
				}
			}
		}
	}

	.aperture {
        h3 {
            margin-bottom: 0.25em;
        }
        display: flex;
        flex-wrap: wrap;
		justify-content: center;
        > div {
            @include breakpoint(medium) {
                margin-bottom: 1em;
                margin-right: -1em;
            }
        }


		> :nth-child(4n - 2) {
			.box {
				&.selected {
					background-color: #EB8646;
				}
			}
		}
		> :nth-child(4n - 1) {
			.box {
				&.selected {
					background-color: #5D299A;
				}
			}
		}
		> :nth-child(4n - 3) {
			.box {
				&.selected {
					background-color: #0082D0;
				}
			}
		}
		> :nth-child(4n) {
			.box {
				&.selected {
					background-color: #005B3E;
				}
			}
		}
	}

    .bottom-box {
        @include breakpoint(medium) { margin-left:-1.25em; }
    }

	.bottom-box-image {
		margin-left: -1.25em; 
		display: flex; 
		height: 100%;
		align-items: center;
		justify-content: center;
		img {
			flex: 1;
			object-fit: contain;
		}
		@include breakpoint(medium) { display: inherit; height: auto;}
	}